name: Release

run-name: Create Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Java JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Extract tag version
        run: echo "tag=$(echo '${{ github.ref_name }}' | egrep -o '[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}')" >> $GITHUB_OUTPUT
        id: extract_tag_version
      - name: Build project
        run: ./gradlew clean build
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.RELEASE_ACTIONS_TOKEN }}
          files: |
            ./scavenger-agent-java/build/libs/scavenger-agent-java-${{ steps.extract_tag_version.outputs.tag }}.jar
            ./scavenger-old-agent-java/build/libs/scavenger-old-agent-java-${{ steps.extract_tag_version.outputs.tag }}.jar
            ./scavenger-api/build/libs/scavenger-api-${{ steps.extract_tag_version.outputs.tag }}.jar
            ./scavenger-collector/build/libs/scavenger-collector-${{ steps.extract_tag_version.outputs.tag }}.jar
          generate_release_notes: true
